@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "DM Sans";
    src: url("..publix/fonts/DMSansMedium.ttf");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Inter";
    src: url("..publix/fonts/InterRegular.ttf");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "DM Sans";
    src: url("..publix/fonts/DMSansRegular.ttf");
}